#logo{
    align-self:"center";
    color:darkgoldenrod;
}

body {
    background-image: url("/assets/イレイナとชานมไข่มุก.jpg");
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    font-family: "System Font","PrintAble4U","Consolas";
    align-content:center;
    align-self:center;
}