#logo{
    align-self:"center";
    color:darkgoldenrod;
}

body {
    /* Default */
    background-image: url("./assets/Samsung_Galaxy/Note_10_Wallpaper_Silver.jpg");
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    
    font-family: "System Font","PrintAble4U","Consolas";
}

#ProgramTitle {
    text-align: center;
    /* background-color: white;
    width: 350px; */
}

.ResultTxt{
    font-size: 200%;
    font-weight: 600;
}