#logo {
    align-self:"center";
    color:darkgoldenrod;
}

body {
    /* Default */
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    
    font-family: "System Font","PrintAble4U","Consolas";
}

.VectorInput {
    width:7em;
}

#ProgramTitle {
    text-align: center;
    /* background-color: white;
    width: 350px; */
}

.ResultTxt {
    font-size: 200%;
    font-weight: 600;
    background-color: wheat;
}

button {
    font-family: "System Font","PrintAble4U";
}

h1 span, h2 span, h3 span, label span {
    background-color: white;
}